body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background-image: url('./images/white-wood.jpg');
  background-image: url('augustus_gloop.jpg');
  /*background-color: #cccccc;
  background-size: cover;*/
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}

.amiable {
  border: 1px solid #2a4;
  box-shadow:  -1px 1px #2a4, -2px 2px #2a4, -3px 3px #2a4, -4px 4px #2a4, -5px 5px #2a4;
  background-color: #4c6;

}

.indifferent {
  border: 1px solid #bb0;
  box-shadow:  -1px 1px #bb0, -2px 2px #bb0, -3px 3px #bb0, -4px 4px #bb0, -5px 5px #bb0;
  background-color: #dd2;
}

.dubious {
  border: 1px solid #b22;
  box-shadow:  -1px 1px #b22, -2px 2px #b22, -3px 3px #b22, -4px 4px #b22, -5px 5px #b22;
  background-color: #d44;
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}

img {
  box-sizing: border-box;
  border: 1px #000 solid;
}